.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/promo/bg.jpg') no-repeat 50%/cover;
    padding-top: 200px;
    .promo__title {
        margin-top: 40px;
        width: 510px;
        white-space: break-spaces;
    }
    &__btns {
        margin-top: 75px;
        display: flex;
        align-items: center;
        gap: 44px;
    }
    .promo__subtitle {
        position: relative;
        padding-left: 10px;
        padding-top: 6px;
        @include before-circles;
    }
    &__arrow {
        cursor: pointer;
    }

}

.shadow-text{
    color: $main-color; /* Цвет  текста */
    font-size: 2em; /* Размер  текста */
    font-weight: bold;
    padding: 20px 0px;
    text-transform: uppercase;
    line-height: 1;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
  }
  .shadow-text:hover{
    color: $main-color; /* Меняем цвет текста */
    -webkit-text-shadow: 2px 2px 2px #000;
    -moz-text-shadow: 2px 2px 2px #000;
        text-shadow: 2px 2px 2px #000;
  }